*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,#0f0c29,#302b63,#24243e);
    min-height: 100vh;
    font-family: "Poppins",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: rgb(0, 0, 0);
}
.container{
    background-color: rgb(255, 255, 255);
    height: 800px;
    width: 100%;
    max-width: 70vw;
    padding: 2rem;
    border-radius: 1rem;
}
h1{
    text-align: center;
    letter-spacing: -0.5px;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}
h2{
    font-size: 1.25rem;
    font-weight: 500;
}
.balance-content{
    text-align: center;
    background: linear-gradient(90deg,#004e92,#404ed1,#004e92);
    border-radius: 1rem;
    padding:25px;
}
.balance-content h1{
    font-size: 3rem;
    margin-top: 10px;
    /* color: white; */
}
.summary-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:25px;
    margin-top: 10px;
}
.main-content{
    display: flex;
    justify-content: space-between;
    gap:25px;
    margin-top: 25px;
    height:340px;
}
.income,.expenses{
    background-color: rgba(0, 0, 40, 0.6);
    border-radius: 1rem;
    padding: 25px;
    transition: transform 0.2s ease;
}
.income:hover,.expenses:hover{
    transform:translateY(-7px);
}
.income h3{
    color: #12bb61;
    font-size: 1.2rem;
    font-weight: 500;
}
.expenses h3{
    color: red;
    font-size: 1.2rem;
    font-weight: 500;
}
.income p{
    color: #12bb61;
    font-weight: 600;
    font-size: 1.75rem;
}
.expenses p{
    color: red;
    font-weight: 600;
    font-size: 1.75rem;
}
.transaction-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 50%;
}
#transaction-list{
    list-style: none;
    overflow-y: auto;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
#transaction-list li{
    width: 100%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(135deg,#6190E8,#A7BFE8);
    transition: transform 0.2s ease;
    display: flex;
    justify-content: space-between;
    color: black;
    animation: fadeIn 0.6s ease-in-out;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateX(-4px);
    }
    to{
        opacity: 1;
    }
}
#transaction-list li:hover{
    transform: translateX(5px);
}
.form{
    width: 50%;
    /* border: 1px solid red; */
    height: 100%;
    background-color: #F1F1F1;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 1rem;
}
#transaction-list::-webkit-scrollbar{
    width: 10px;
} 
#transaction-list::-webkit-track{
    background-color: #cfcfcf;
    border-radius: 4px;
} 
#transaction-list::-webkit-scrollbar-thumb{
    background-color: #aeaeae;
    border-radius: 4px;
} 
#transaction-list::-webkit-scrollbar-thumb:hover{
    background-color: rgb(155, 155, 155);
}
.transaction-content h3,.form h3{
    padding: 7px;
    font-size: 1.25rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.form-group{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group input{
    padding: 10px;
    outline: none;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    border: 1px solid grey;
}
button[type="submit"]{
    margin-top: 40px;
    padding: 10px;
    font-size: 0.9rem;
    background-color: #12bb61;
    border: none;
    color: white;
    transition: transform 0.2s ease;
    border-radius: 4px;
}
button[type="submit"]:hover{
    transform: translateY(-2px);
}
button[type="submit"]:active{
    transform: translateY(2px);
}
#transaction-list li button{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 0, 0, 0.457);
    color: white;
    text-align: center;
    font-size: 0.5rem;
    transition: transform 0.2s ease;
}
#transaction-list li button:hover{
    transform: scale(1.2);
    background-color: red;
}
@media only screen and (max-width:850px){
    .main-content{
        flex-direction: column;
        align-items: center;
    }
    .container{
        height:1200px
    }
    button[type="submit"]{
        padding: 1px;
    }
}